body, html {
  padding: 0;
  margin: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 70vh;
  color: #fefefe;
  overflow: hidden;
}
.header-bg {  
  background: #304ffe;
  transform: skewY(-10deg);
  position: absolute;
  top: -190px;
  width: 100%;
  left: 0;
  height: 70vh;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.corner-circle {
  background: #FFBB12;
  position: absolute;
  top: -250px;
  right: -120px;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.4); */
  
  /* box-shadow: 0 0 40px rgba(255, 255, 255, 0.4); */
  z-index: 5;
}

.header-content{
  position: relative;
  top: 14%;
  padding: 42px;
  width: 70vw;
  margin: 0 auto;
  z-index: 99;
}

.content {
  padding: 42px;
  width: 70vw;
  margin: 0 auto;
}


/* .skills {
  width: 100%;
} */

.skill {
  margin-bottom: 6px;
  margin-right: 6px;
  display: inline-block;
  /* background:#8295FC; */
  background:#A97EFC;
  color: #fefefe;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.22);
  padding: 10px;
  font-size: 1.1rem;
  
  font-family: "Open Sans", sans-serif;
}

/* projects */

.projects-bg {
  position: relative;
  top: 0;
  left: 0;
  background: blue;
  width: 100vw;
}

.project {
  background: #fff;
  border: 1px solid #dcdee2;
  border-radius: 3px;
  box-shadow: 0 2px 2px #eaecef;
  transition: box-shadow 200ms;
  padding: 24px;
  margin-bottom: 24px;
}

.project:hover {
  box-shadow: 0 4px 9px #eaecef;
}

.tag {
  background: #A97EFC;
  color: #efefef;
  padding: 8px 12px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.justify-content-between  { display: flex; justify-content: space-between; }

.align-items-center { display: flex; align-items: center;}
.column { width: 50vw; box-sizing: content-box; }

.column.programming { margin-right: 12px; }
.column.technical { margin-left: 12px; }

h1 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: 'Raleway',
  serif;
}

h3 {  
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  margin: 0;
}

ul li {
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

p {
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

.emphasis,
.emphasis a {
  /* width: 40vw; */
  font-size: 1.5rem;
}

.emphasis {
  width: 40vw;
}

a {
  color: blue;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}

.links a {
  font-size: 4rem;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  color: #555;
}

.justify-content-around {
  display: flex;

  justify-content: space-around;
}

.fin {
  width: 100%;
  
  background:#3051FE;
  border-top:4px solid #5872FE;
  overflow: hidden;

  font-family: "Open Sans", sans-serif; 

  padding: 18px;
  text-align: center;
  color: #efefef;
  box-sizing: border-box;
  font-size: 1.1rem;

}